shim-version: v0.2.10@sha256:f9040a48106ab06c290fd9b225d4dd53a2daad715c9107594d4310b21592039f
cvm-version: 0.5.7
cpus: 16
memory: 65536
gpus: full
vllm: false

containers:
  - name: "ml-embeddings"
    image: ""
    args: [
      "--runtime", "nvidia",
      "--gpus", "all",
      "--ipc", "host",
      "--cap-add", "SYS_ADMIN",
      "--device", "/dev/fuse",
      "--security-opt", "apparmor=unconfined",
      "-v", "/mnt/ramdisk/gcloud_key.json:/key.json:ro",
      "-e", "GOOGLE_APPLICATION_CREDENTIALS=/key.json",
      "-e", "GCS_BUCKET=pollux-tinfoil",
      "-e", "DEV_DATABASE_URL=$(sed -n 's/^dev-database-url: *//p' /mnt/ramdisk/external-config.yml)",
      "-e", "STAGING_DATABASE_URL=$(sed -n 's/^staging-database-url: *//p' /mnt/ramdisk/external-config.yml)",
      "-e", "TURBOPUFFER_API_KEY=$(sed -n 's/^turbopuffer-api-key: *//p' /mnt/ramdisk/external-config.yml)",
      "-e", "GOOGLE_CLIENT_ID=$(sed -n 's/^google-client-id: *//p' /mnt/ramdisk/external-config.yml)",
      "-e", "GOOGLE_CLIENT_SECRET=$(sed -n 's/^google-client-secret: *//p' /mnt/ramdisk/external-config.yml)",
      "-e", "TINFOIL_API_KEY=$(sed -n 's/^tinfoil-api-key: *//p' /mnt/ramdisk/external-config.yml)",
      "us-central1-docker.pkg.dev/workshop-labs-pbc/pollux-docker/ml-embeddings@sha256:0374710f157c7c6512a3b736ecc3c079e08220187e94f2fb112558864562ec48",
      "--dev"
    ]

shim:
  listen-port: 443
  upstream-port: 8000
  publish-attestation: false
  tls-challenge: dns
  paths:
    - /ping
    - /health
    - /search
