shim-version: v0.3.13@sha256:e8d974949d08f86a36dd5b7dfa8681f222fcbdaf546ea952f97d2cf08305969d
cvm-version: 0.6.5
cpus: 16
memory: 65536

containers:
  - name: "ml-embeddings"
    image: "us-central1-docker.pkg.dev/workshop-labs-pbc/pollux-docker/ml-embeddings@sha256:169e5c71101bbca5038cdc810db76168bdc391299aaa98f4e8fc4e9828305b77"
    runtime: nvidia
    gpus: all
    ipc: host
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse
    security_opt:
      - apparmor=unconfined
    volumes:
      - /mnt/ramdisk/gcloud_key.json:/key.json:ro
    env:
      - GOOGLE_APPLICATION_CREDENTIALS: "/key.json"
      - GCS_BUCKET: "pollux-enc-prod"
      - POLLUX_LN_GCS_BUCKET: "gs://pollux-enc-prod"
      - KEY_MODE: "real_keys"
    secrets:
      - DATABASE_URL
      - GOOGLE_CLIENT_ID
      - GOOGLE_CLIENT_SECRET
      - TINFOIL_API_KEY
      - HF_TOKEN
    command:
      - "--prod"

shim:
  listen-port: 443
  upstream-port: 8000
  publish-attestation: true
  tls-challenge: dns
  paths:
    - /ping
    - /set_dek
    - /v1/search
    - /v1/file/{file_id}
    - /v1/db/users
    - /v1/db/files
    - /v1/metrics
    - /v1/stats
    - /v1/user/*
